html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

#root {
  height: 100%;
  width: 100%;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* CONTAINERS */

.main-container {
  width: 50%;
  height: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.5px solid rgb(204, 91, 16);
  border-radius: 5px;
  background-color: rgb(70, 22, 133);
  padding: 10px;
  box-sizing: border-box;
}

.card-board {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 80%;
  background-color: rgb(204, 91, 16);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flip-card {
  width: 24%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(70, 22, 133);
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  perspective: 1000px;
}

.pumpkin-board {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: url(./assets/images/patch.png);
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  border: 2px solid rgb(204, 91, 16);
  border-radius: 5px;
}

.pumpkin-board:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

.pumpkin-board-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
  box-sizing: border-box;
}

.pumpkin-square {
  width: 29%;
  margin: 2px;
  border-radius: 5px;
  position: relative;
}

.pumpkin-img {
  height: 90%;
}

@keyframes flipping {
  0% {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
  }
  100% {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    background-color: whitesmoke;
  }
}

.flip-text {
  font-size: 200%;
  align-self: center;
}

.flipped {
  animation: flipping 0.8s 1 forwards;
}

.diff-circle {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* FONT STYLING */

.font-main {
  font-family: "Creepster", cursive;
}

.font-alt {
  font-family: "Lexend Deca", sans-serif;
}

.big-font {
  font-size: 500%;
}

.text-orange {
  color: rgb(204, 91, 16);
}

.text-center {
  text-align: center;
}

/* BUTTON STYLING */

@keyframes wavy-btn {
  0% {
    transform: translateX(-50%);
  }
  15% {
    transform: translateX(-75%) rotate(-5deg);
  }
  30% {
    transform: translateX(-30%) rotate(3deg);
  }
  45% {
    transform: translateX(-65%) rotate(-3deg);
  }
  60% {
    transform: translateX(-40%) rotate(2deg);
  }
  75% {
    transform: translateX(-55%) rotate(-1deg);
  }
  100% {
    transform: translateX(-50%);
  }
}

.start-btn {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  background-color: transparent;
  color: rgb(204, 91, 16);
  border: 1px solid rgb(204, 91, 16);
  border-radius: 10px;
  font-size: 150%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  outline: none;
  cursor: pointer;
}

.start-btn:hover {
  background-color: rgb(204, 91, 16);
  color: white;
  /* animation: wavy-btn 1s 1; */
}

.btn-orange {
  background-color: transparent;
  border: 1px solid rgb(204, 91, 16);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-orange:hover {
  background-color: rgb(204, 91, 16);
  color: white;
}
/* IMAGE STYLING */

.flex-img-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scary-lady {
  width: 65%;
  height:auto;
}

.spd-container {
  width: 65%;
  position: relative;
}

/* MEDIA QUERIES ALL BELOW */

@media (max-width: 1150px) {
  .main-container {
    width: 70%;
  }
  .big-font {
    font-size: 400%;
  }
  .scary-lady {
    width: 75%;
    height:auto;
  }
  .spd-container {
    width: 80%;
    position: relative;
  }
  .pumpkin-board {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 620px) {
  .main-container {
    width: 90%;
  }
  .big-font {
    font-size: 300%;
  }
  .start-btn {
    font-size: 125%;
    width: 75%;
  }
  .scary-lady {
    width: 80%;
    height:auto;
  }
  .spd-container {
    width: 100%;
    position: relative;
  }
  .start-btn {
    bottom: 5%;
  }
  .pumpkin-board {
    position: relative;
    width: 100%;
  }
  .xs-sm {
    font-size: 0.75em;
  }
  .xs-md {
    font-size: 175%;
  }
}

/* MODAL */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  overflow: scroll;
  background-color: white;
  border-radius: 10px;
}

/* WIDTH */

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-block {
  display: block;
}

/* FOOTER */

.footer {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%);
}

.btn-footer {
  background-color: transparent;
  border: 1px solid rgb(204, 91, 16);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-footer:hover {
  background-color: rgb(204, 91, 16);
  color: white;
}

.btn-instruction {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-instruction:hover {
  background-color: black;
  color: white;
}
